[2020-04-06 10:08] wimdeblauwe opened #2 "Document how to use this if Keycloak is on the classpath"
Thank you for this project. It is just what I needed for my `@WebMvcTest` tests in my Spring Boot project. I am using Spring Boot 2.2.6 with `keycloak-spring-boot-starter` 9.0.0.

After adding:
[code]

to my project, I also had to do the following things:

1) Create a custom meta-annotation for all my webmvc tests:

[code]

2) I created a custom `@TestConfiguration` for my test:
[code]

Where `Web

[2020-04-27 06:48] pvannierop opened #3 "Roles vs authorities in @WithMockKeycloackAuth"
Hello, I have started using your utils and I am very happy with it. Thank you for sharing your code. I experience the following difficulty:

- In @WithMockKeycloackAuth all roles get prefixed with `ROLE_`. For my purpose this is unwanted behavior, since I would like pass authorities like true authorities w/o the `ROLE_` part. The `ROLE_` prefix is added in _roles()_ method of _KeycloakAuthenticati

[2020-04-27 06:50] pvannierop opened #4 "Rename Keycloack to Keycloak"
Hello, I have started using your utils and I am very happy with it. Thank you for sharing your code.

At many places Keycloak is wrongly spelled as Keycloa**c**k. I do not know whether you are aware of this. You may keep this for sake of backwards compatibility, but I could not resist to point this out :) :)

[2020-04-27 08:42] pvannierop commented on #3
@ch4mpy Hmmm, maybe I am misunderstanding how this is supported to work. I will retract this issue until I have researched more.

[2020-04-27 21:05] ch4mpy commented on #4
Lets fix the typo (you are the only other user I know :)

[2020-04-27 21:05] #4 closed

[2020-04-27 21:32] ch4mpy commented on #3
@pvannierop you might have actually pinned a bug:

Default `GrantedAuthoritiesMapper` is `SimpleAuthorityMapper` which adds the `ROLE_` prefix to Keycloak authorities claim entries when building GrantedAuthorities.

So maybe should I rename "roles" to "authorities" in annotation and request post-processor and use `GrantedAuthoritiesMapper` from test context to build granted authorities (instead of

[2020-04-27 21:54] ch4mpy commented on #2
@wimdeblauwe I'm very sorry, I didn't see your issue until today (wasn't notified).
I'll create an additional project dedicated to keycloak demos.

[2020-04-28 05:23] pvannierop commented on #3
Yeah, the behavior is correct. It was me that was not understanding it correctly. I am rather new to Spring Security so please excuse my ignorance. The renaming of roles to authorities helps to understand.

I propose to update the doc at the top of the _@WithMockKeycloakUser_ class and remove the `ROLE_` prefixes:

[code]

becomes

[code]

[2020-04-28 21:30] ch4mpy commented on #2
@wimdeblauwe I initiated the sample project with Keycloak libs for resource-server with spring-boot and spring-security: https://github.com/ch4mpy/spring-addons/tree/master/keycloak-sample, but `@Controller` test configuration is broken (`AdapterConfig` not injected in `KeycloakSpringBootConfigResolver`) and I'm pretty busy on another project.

If you find an easy fix...

[2020-04-29 03:21] pvannierop commented on #2
Really appreciated. I am struggling on how to setup test with Keycloak on the classpath atm. That is how I stumbled on you repo. I will look at your sample project and see whether this clarifies it for me.

[2020-04-29 04:00] ch4mpy commented on #2
@pvannierop alternatively to having Keycloak on the classpath, you can have a look at this sample in the repo: https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc/oidcid/OidcIdServletApp.java

I runs against a Keycloak authorization-server. This how I configure my micro-services.

[2020-04-29 05:39] pvannierop commented on #2
@ch4mpy I played around with your keycloak sample and I could reproduce your error. What I do not understand is that most tests of the GreetingControllerTest pass when not using the KeycloakConfig.class by changing:

[code]

into

[code]

I had to make one trivial update to a test to make it succeed. Change:

[code]

into

[code]

So, you are proposing to use spring-security-oauth2 here instead of

[2020-04-29 06:46] wimdeblauwe commented on #2
I had a quick look and it seems you are not importing `org.keycloak.adapters.springboot.KeycloakAutoConfiguration` in the test. I also find it strange that you have your main class in the tests folder and not in the main folder.

Having said that, things are still not working when I changed these things and I don't really understand why given that my production application does basically the same

[2020-04-29 08:47] ch4mpy commented on #2
I had tried but it didn't trigger proper Keycloak auto-configuration, which would probably be enough to solve the problem

@wimdeblauwe this is a hack to keep produced jars small (not pollute ossrh with useless "fat jars"). The boot apps in this project are intended to run from within an IDE for experiments, not as `java - jar ...`

@pvannierop yes. I added more mvc samples doing so. Using JwtAuth

[2020-04-29 09:16] ch4mpy commented on #2
@wimdeblauwe I downgraded Keycloak from 9.0.3 to 9.0.0 as you mentioned you were using, and got it working. Will dig why it is now broken tomorrow (almost midnight here)

[2020-04-29 10:13] pvannierop commented on #2
@ch4mpy @wimdeblauwe Thnx for all your work. I'll test it later tonight.

I also would appreciate your view on why most tests succeeded when disabling the Keycloak integration (see my last post).

[2020-04-29 17:47] ch4mpy commented on #2
Just moved Keycloak sample with other webmvc samples under https://github.com/ch4mpy/spring-addons/tree/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc

I also edited main and spring-security-oauth2-test-webmvc-addons READMEs

The issue with Keycloak 9.0.3 is not solved, but, IMO, this is a separate problem.

@wimdeblauwe may we close this iss

[2020-04-29 17:54] ch4mpy commented on #3
@pvannierop updated the javadoc. May we close ?

[2020-04-29 18:04] wimdeblauwe commented on #2
Sure. Weird that 9.0.3 does not work.

[2020-04-29 18:09] ch4mpy commented on #2
I'll try some investigation and maybe open a Keykloak ticket.

[2020-04-29 18:09] #2 closed

[2020-04-29 18:40] ch4mpy commented on #2
https://github.com/keycloak/keycloak-community/issues/102

[2020-04-29 19:30] pvannierop commented on #3
@ch4mpy Sure!

[2020-04-29 19:30] #3 closed

[2020-04-29 19:33] pvannierop opened #5 "Tag master to 2.0.4 and release on maven repo"
I you have time could you publish v2.0.4 on maven repository?

[2020-04-29 22:19] ch4mpy commented on #5
Done.

It's **2.1.0**, actually as this version comes with minor breaking changes (Keycloack => Keycloak typo).

[2020-04-29 22:19] #5 closed

[2020-04-30 04:20] pvannierop commented on #5
@ch4mpy Thnx a bunch!

[2020-04-30 07:50] pvannierop commented on #2
@ch4mpy @wimdeblauwe

I have created controller tests similar to the sample project and all works fine!

However ..... when running integration tests that use the full application context I found that one change proposed by @wimdeblauwe is essential which is moving the bean definition of `KeyloakSpringBootConfigResolver` to a class separate from the projects central KeycloakConfig.

This change in

[2020-05-11 16:50] choweiyuan opened #6 "Java 8 Compatibility"
Hi I tried running with Java 8 and I get the following -

[code]

any chance of making your project Java 8 compatible? I checked the pom.xml and the java.version is 11

Thanks

[2020-05-14 10:33] pvannierop opened #7 "Help with forced update of access token"
@ch4mpy This issue is not so much a bug report, but a request on whether the spring-addons tools are useful in this use-case.

My client uses keycloak IDP and adds roles to a user at some moments. I would like to trigger a refresh of the user principal in the same session when this happens. One way I see would be to manually update the keycloakSecurityContext in the Principal. Another would be to

[2020-05-14 19:31] ch4mpy commented on #7
Stackoverflow would be a better place for such questions (lot more audience).

There are a lot of different solutions depending on your use case (and maybe a little confusion).

-  what do you call user principal ? `java.security.Principal` or the dirty shapeless `Object` returned by `org.springframework.security.core.Authentication::getPrincipal` ?
- do you have a clear picture (I mean a real dra

[2020-05-14 19:31] #7 closed

[2020-05-14 20:10] ch4mpy commented on #6
No, I wont support Java 8.

I code with recent (more functional) stream and collections APIs and don't want to drop six years (yeah, java 8 was release in 2014) of progress in the Java platform. sorry.

[2020-05-14 20:10] #6 closed

[2020-05-15 04:49] pvannierop commented on #7
@ch4mpy Thank you for this great explanation! Especially your advise on the specific restrictions on _authorities claim in a JWT_ is an eye opener. I will look further into introspection, since this seems to fit my usecase very well. Again, many thanks for taking the time to inform me.

[2020-05-15 16:40] SrMouraSilva opened #8 "Java version error"
When I try to use this library on Java 8, appears the following code:

[code]

I'm using `com.c4-soft.springaddons:spring-security-oauth2-test-webmvc-addons:2.1.0`

Please, release a Java 8 compatible ou informs in somewhere that it works only with Java 11.

[2020-05-15 18:30] ch4mpy commented on #8
https://github.com/ch4mpy/spring-addons/issues/6.

Java 8 was released more than 6 years ago and I use collections API improvements.

I suggest you bump your Java version.

[2020-05-15 18:30] #8 closed

[2020-05-15 18:47] SrMouraSilva commented on #8
So please put into Readme the minimum required version of java

[2020-05-15 18:59] ch4mpy commented on #8
https://github.com/ch4mpy/spring-addons/blob/6040991746d9dfef6bb72d871fef86c9aff3d687/pom.xml#L46

[2020-05-15 20:50] SrMouraSilva commented on #8
Ok, thanks!

[2020-05-19 10:04] pvannierop opened #9 "Keycloak auth with custom access token (or id token)"
I am putting this here for reference since this feature is not documented.

The access and id tokens of WithMockKeycloakAuth can be enhanced with custom values like so:

[code]

A similar approach is possible with `idToken = @WithIdToken(...)`.

Possibly this is something to later add to the docs.

[2020-05-19 21:05] ch4mpy commented on #9
What IDE are you using ?
STS (Eclipse) auto-completion does a pretty good job in this domain.

[2020-05-20 05:16] pvannierop commented on #9
I am using IntelliJ. If I look carefully it suggests WithAccessToken, but when selecting it is difficult to guess what to do next if you do not know what to do. I, for instance, for the first time encountered an annotation used as variable inside another annotation. I discovered that this is the correct approach by a wild guess in a final desperate attempt :)  I posted this because I would like to

[2020-07-02 01:25] ch4mpy commented on #9
Hi @pvannierop, can you please confirm what I added to https://github.com/ch4mpy/spring-addons/tree/master/spring-security-oauth2-test-addons README meets your expectations ?

[2020-07-02 06:17] pvannierop commented on #9
Hi @ch4mpy, thank you for updating the documentation. I find the section on the `@WithAccessToken` annotation very informative.  Not that alone, but the whole readme is a very nice addition. I have several comments:

This is not resticted to @Service beans, but applies to @Controller and @Component as well (that is how I used your lib at least). My propsal is to remove the specific reference to @S

[2020-07-02 07:16] ch4mpy commented on #9
Well... no.
`@WithMockAuthentication` can be used with any `Authentication` implementation, including `JwtAuthenticationToken`, `KeycloakAuthenticationToken` and many more.
Only `@WithMockAuthentication(UsernamePasswordAuthenticationToken.class)` is close to `@WithMockUser()` (you'd get
a `UsernamePasswordAuthenticationToken` mock in security context with the first instead of a real instance with

[2020-07-02 14:19] pvannierop commented on #9
I was aware of that. But this sentence is a nice one to add to the docs.
How do these concepts relate.

Op do 2 jul. 2020 09:16 schreef Jérôme Wacongne <notifications@github.com>:

[2020-07-28 23:24] ch4mpy commented on #9
@pvannierop may we close this issue?

I think I improved the docs on most of the points you reported (and adapted to 2.3.0 breaking changes).
If you still feel like submitting a PR later, you can do it even without a bug report.

[2020-07-31 23:24] #9 closed

[2020-08-03 03:18] jhobeck opened #10 "Question about defining Keycloak attributes using Annotations"
In my Keycloak instance I have defined a couple of attributes (x_id, y_id) that get passed in the token, I can retrieve these attributes from a Map on the token (other claims):
[code]

I tried using privateClaims with a single value, but this didn't seem to work.
[code]

I'm pretty sure this is obvious, I'm just missing something.  Saw a closed question about using @WithAccessToken but I could not

[2020-08-03 06:03] pvannierop commented on #9
@ch4mpy Yeah sure. Thnx for your work.

[2020-08-03 18:18] ch4mpy commented on #10
I forgot to map `otherClaims` in authentication builder. Sorry.

Fixed with commit f26a20dbb3096449f2a156cffc60f45f28f460f0 which I'm currently releasing.

Your test should work as expected from 2.3.2 on.

[2020-08-03 18:18] #10 closed

[2020-08-03 19:05] ch4mpy commented on #10
P.S.
For usability reasons, I dropped the separate definitions for `AccessToken` and `IDToken`.  I have no knowledge of cases where this was useful and as `AccessToken extends IDToken`, it's way easier to define values only once, even if it prevents from having different values in each (but again, I can't figure out why this would be useful).

As a consequence, `@WithAccessToken` disappeared in `2

[2020-08-03 20:38] rosariop opened #11 "@WithMockKeycloackAuth not found"
@WithMockKeycloackAuth is not found.
Added following dependency
`
<dependency>
            <groupId>com.c4-soft.springaddons</groupId>
            <artifactId>spring-security-oauth2-test-webmvc-addons</artifactId>
            <version>2.3.1</version>
            <scope>test</scope>
        </dependency>
`

my imports
`
import com.c4_soft.springaddons.security.oauth2.test.mockmvc.ServletUnitTesting

[2020-08-03 23:41] jhobeck commented on #10
Thank you for fixing this so quickly @ch4mpy, I just tested it out and it is working.  This is a very useful library for writing integration tests against RESTful APIs secured by OAuth2.

[2020-08-03 23:48] jhobeck commented on #11
Your Maven dependency is correct.  Are you getting a compile error when you import the following?

`
import com.c4_soft.springaddons.security.oauth2.test.annotations.keycloak.WithMockKeycloakAuth;
`

[2020-08-04 00:09] ch4mpy commented on #11
@rosariop, I see neither `WithMockKeycloakAuth` import (should be as given by @jhobeck) nor usage in the code you provide. So I can't help much.

Please refer to [GreetingControllerAnnotatedTest](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc/keycloak/web/GreetingControllerAnnotatedTest.java) for a

[2020-08-04 20:18] rosariop commented on #11
Hey, sorry, did not want to spam, thats why I didn't post the full code:
`@Test
    @WithMockKeycloakAuth
	public void shouldGetStudentsBetweenTimesWithSchool() throws Exception{
        List<Student> students = new ArrayList<>();
		List<Student> returnList = new ArrayList<>();

    `

`import com.c4_soft.springaddons.security.oauth2.test.annotations.keycloak.*;`

[2020-08-04 20:50] ch4mpy commented on #11
Two thing:

1. this is not the same error as yesterday, is it? Added some missing import?
2. according to the stack trace, exception occurs in keycloak configuration because of missing `keycloak.realm` property

I suggest you get a closer look at [GreetingControllerAnnotatedTest](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft

[2020-08-05 09:26] rosariop commented on #11
[code]

thats my application.yml file. Just to clear this for me: Is this an integration test or a unit-test? do i have to have a keycloak running or not? Right now my keycloak service is offline because i want to unit-test..

[2020-08-05 18:35] ch4mpy commented on #11
This is unit-test. Keycloak can be offline. Keycloak lib just throws an exception if configuration isn't found.

To see my tests, including `GreetingControllerAnnotatedTest`, pass without any Keycloak instance up, you can:
[code]
This would also enable you to browse samples with your favorite IDE and debug some tests.

[2020-08-05 20:13] rosariop commented on #11
do you have a discord server? I still have no clue why its not working :(

[2020-08-05 20:41] ch4mpy commented on #11
No I don't, and quite busy at work to be honest.

Can you confirm `GreetingControllerAnnotatedTest` passes ?

If so, it should be close enough to the test your trying to write. Just diff it (and conf files) with your code. I'm pretty sure what your facing is spring-test miss-use (not directly related to this lib)

[2020-08-05 20:50] rosariop commented on #11
yes they pass. Sorry.

[2020-08-07 07:07] ch4mpy commented on #11
@rosariop please reopen this ticket if you face a problem involving this lib directly (stack trace involving `com.c4_soft.springaddons`).

If the samples I provide are not enough for you to get started, you might open a ticket on stack-overflow and link it here, I'll try to have a look.

[2020-08-07 07:07] #11 closed

[2020-08-31 08:05] MrMedTech opened #12 "KeycloakAuthenticationToken null while @Preauthorize works"
Hi,
I used your lib in my Spring Project. Therefor I disabled all Filters in my` @AutoConfigureMockMvc(addFilters = false)` so Spring does not try to contact a running external keycloak instance.

[code]

My Test is annotated with:
[code]

This is my test annotation. Thing is that the role check in my pre authorize works while my KeycloakAuthenticationToken is always null.
[code]
Is it correct tha

[2020-08-31 16:05] ch4mpy commented on #12
Welcome onboard @MrMedTech

No. All tests in this repo pass without any Keycloak instance running.

You should not need to disable filters registration. As you can see [here](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc/keycloak/web/GreetingControllerAnnotatedTest.java), I write my tests with `@W

[2020-09-01 05:45] MrMedTech commented on #12
Thank you =)
I use:
Keycloak 11,
Version 2.3.4 of your test-webmvc-addons,
Spring Boot 2.3.3

My application.properties look pretty much like yours:

keycloak.auth-server-url=http://localhost:8080/auth
keycloak.realm=demo
keycloak.resource=DemoApplication
keycloak.public-client=false
keycloak.principal-attribute=preferred_username
keycloak.bearer-only=true

When I Use MockMvc with filters, my logs

[2020-09-02 06:03] ch4mpy commented on #12
Would share your `SpringSecurityConfiguration`?

I confirm  `@AutoConfigureMockMvc(addFilters = false)`  is bad idea: no filter => no security filter (which adds security context to the request, so...)

I need to figure out why your conf requires the server to be up.

Did you `@MockBean JwtDecoder jwtDecoder;`? (and not load actual bean, which you might do with `@SpringBootTest` instead of `@WebMv

[2020-09-03 06:16] MrMedTech commented on #12
Hi,
I tried your suggestion with the filter enableing and the Mock of the jwt decoder. Did I mention that I use junit 5 ( not sure if this is important )?

[code]
The error I get is:
[code]

I was a bit confused by the different testing strategies. But you are right. I will change my stragtegy to test every method as a unit und mock the rest of the Methods. I was also planning to use e2e tests wit

[2020-09-03 07:32] MrMedTech commented on #12
I just tried this MVC version but I'm running still in the same problem that it tries to reach a real keycloak instance on localhost:

[code]

[2020-09-04 02:46] ch4mpy commented on #12
It's curious, my tests pass with your conf (except for those expecting routes to be be allowed to AUTHORIZED_PERSONNEL only off course).

How do you run your tests?
Are you sure the exception you report is thrown by `ProductControllerMvcTest::createProduct_RealmRoleOwner_HttpStatusCreated` just above? (are you running this test alone, not all tests including one with non mocked `JwtDecoder`?)
Woul

[2020-09-04 05:49] MrMedTech commented on #12
I run the test with right klick on the class -> Run .
this is the whole trace of my webmvc example. Thanks for your effort.
[code]

The project is private.

[2020-09-07 05:41] MrMedTech commented on #12
You are right. The now I have another problem with Mockito but that should not be part of the discussione here.
The problem I have now is that if I leave the header field in the request I cannot document it with spring rest docs.
`org.springframework.restdocs.snippet.SnippetException: Headers with the following names were not found in the request: [Authorization]`

But as you said if I use the hea

[2020-09-07 18:19] #12 closed

[2020-09-21 07:53] belgoros opened #13 "Error when running tests: class file has wrong version 55.0, should be 52.0"
I'm trying to implement a simple test using the add-on:
[code]
The `pom.xml` has the following dependencies:
[code]

When running  `mvn clean test` I get the error:
[code]

The controller under test looks like this:
[code]
Usied java and maven versions:
[code]

What am I missing?

[2020-09-21 17:49] ch4mpy commented on #13
Thank you for detailed report, this will save me quite some time ;)

You are running with Java `1.8.0_241` when main [README](https://github.com/ch4mpy/spring-addons/blob/master/README.MD) states a minimum of **11** is required.

A few side notes on your code snippets. You could remove at minimum `spring-security-oauth2-addons` and `spring-security-oauth2-test-webflux-addons` dependencies. Then de

[2020-09-22 06:37] belgoros commented on #13
Thank you so much for your time and for such a detailed explanation. The below tests are passing now:
[code]
The last question is how to test the secured end-point providing a token in the header?

[2020-09-22 08:28] belgoros commented on #13
Even like this, it fails:
[code]

[2020-09-22 17:49] ch4mpy commented on #13
You obviously lack quite some background

First about HTTP statuses:
- 401 (unauthorized): no authentication
- 403 (forbiden): authenticated but access denied (security rule broken due to authorities

Second, as I already mentioned, the point of this lib is not to create a valid token, put it int the Authorization header and have it processed by the all decoding pile. You won't find JWTs anywhere

[2020-09-22 20:44] belgoros commented on #13
Thank you once again for the explained points.
Frankly, it would be much easier to figure out what annotation to use in which case, what to mock and what not if, and only if, everybody put some efforts into writing good documentation, - this would keep me from browsing your code source, examples (often disconnected from a real context, etc.). There are many other open-sourced libraries, add-ons, p

[2020-09-22 20:44] #13 closed

[2020-10-23 15:14] SrMouraSilva opened #14 "Define a way with `WithMockKeycloakAuth` to populate accessToken information"
In the version 2.1.0, is possible to define sessionState
[code]

But in the version 2.4.0, I don't found a way to define `AccessToken.sessionState` (`session_state`). Also, I need define too `AccessToken.id` (`jti`) and `AccessToken.subject` (`sub`).

I found how to define the `sub`, but not others
[code]

Maybe a way to do this is defining a hashmap or something like to add all the (custom) token

[2020-10-23 18:39] ch4mpy commented on #14
In 2.3.0, I reorganized the properties, but this is just some code shuffling, you should have the same configuration options.

The reason for this change is I chose to get closer to the OpenID spec to re-use some code I wrote for  another OpenID `Authentication` implementation (I personally don't use `KeycloakAuthenticationToken` any more mostly because Keycloak Spring libs are moving too slow). T

[2020-10-23 20:13] SrMouraSilva commented on #14
Hi, thanks for the response!

I create a audit Filter what use this information by auditing purposes. In fact this fields are not relevant by the test, but the object is used to other things, including a way to obtained the user data. As this three fields are always informed by Keycloak, I defined they as `not null` in my Kotlin code

I don't found any reference in the current branch to `jti` by t

[2020-10-23 23:48] ch4mpy commented on #14
I re-open. Further investigations needed

[2020-11-17 12:49] jaubin opened #15 "No qualifying bean of type 'org.springframework.security.core.authority.mapping.GrantedAuthoritiesMapper' available"
Hi,

When playing with the addons using annotation `@WithMockKeycloakAuth` I always get this :

java.lang.RuntimeException: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'com.c4_soft.springaddons.security.oauth2.test.annotations.keycloak.WithMockKeycloakAuth$Factory': Unsatisfied dependency expressed through constructor parameter 0; nested exceptio

[2020-11-18 18:46] ch4mpy commented on #15
Salut,

As an intro, a point about dependencies (you should have only one of the libs in your pom / graddle file:
- unless you pull something from `com.c4_soft.springaddons.security.oauth2.test.mockmvc.*` all you need is `spring-security-oauth2-test-addons` as **test** dependency
- you should **not** put both `webflux` (for spring reactive apps) and `webmvc` (for spring servlet apps) on your class

[2020-11-18 19:10] ch4mpy commented on #15
Actually, rather than removing `GrantedAuthoritiesMapper` from constructor, I'll make it optional: if one is explicitly added to conf, it should be used to transform authorities. Default being `NullAuthoritiesMapper`

[2020-11-18 21:12] ch4mpy commented on #14
Renamed `privateClaims` to `otherClaims` in `@WithMockKeycloakAuth` for clarity: Keycloak's token model does not support private claims at root as per JWT spec. Instead, it maps unknown claims to `otherClaims` properties.

Added `jti` and `nbf` (from JWT spec) to `@IdTokenClaims` (an ID token is a JWT)

Also added `session_state` to `@IdTokenClaims` as per https://openid.net/specs/openid-connect-s

[2020-11-18 21:12] #14 closed

[2020-11-18 21:14] ch4mpy commented on #15
Your issue should be fixed with `2.4.1` I'm currently releasing. Please check and close this issue if your problem is gone.

[2020-11-19 06:25] jaubin commented on #15
Thanks a lot for your support ! I will do it.
    Le mercredi 18 novembre 2020 à 22:14:46 UTC+1, Jérôme Wacongne <notifications@github.com> a écrit :

Your issue should be fixed with 2.4.1 I'm currently releasing. Please check and close this issue if your problem is gone.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-19 08:30] ch4mpy commented on #15
Decision should be simple:
1. if using annotations only => pull spring-security-oauth2-test-addons
2. if using `MockMvcSupport` or "fluent" API as demonstrated in [`GreetingControllerMockMvcPostProcessorTest`](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc/keycloak/web/GreetingControllerMockMvcPost

[2020-11-20 08:48] litanyue opened #16 "can not find symbol"
Hi, I tried to use the advice you mentioned in https://stackoverflow.com/questions/51711268/how-to-test-keycloak-authentication-in-spring-boot-application to test keycloak,but i found that there seemed to be a lack of variables in the source code.

you mentioned the variable ”privateClaims“，but i can not find in annotation @WithMockKeycloakAuth.

thanks for your reply.

`@WithMockKeycloakAuth(

[2020-11-20 17:29] ch4mpy commented on #16
`privateClaims` was renamed to `otherClaims` in `2.4.1` this is how it is named in `KeycloakAuthenticationToken` because (forgot it in changelog)

[2020-11-20 17:30] #16 closed

[2020-11-23 07:22] #15 closed

[2020-12-04 19:18] SrMouraSilva commented on #14
Hi ch4mpy! I completely understand the situation. Thank you for your availability! I am updating my code.

[2021-02-16 13:19] arnonuem opened #17 "Principal"
Hi how would i inject the principal in the testcase?

On my controller i have something like:
[code]

where `UsernamePasswordAuthenticationToken` is type of `org.springframework.security.core.Authentication`

In my security config i have registered a converter which transforms the jwt to this token.
Would be glad if you could come up with a hint on this.

When i write my test like:
[code]
Where ca

[2021-02-16 20:24] arnonuem commented on #17
Ok i just found the solution to this. This repo could need some more documentation :D
In my case instead of using:
[code]
i had to just modify it to
[code]
And now the converter is also respected :)
Thanks a lot for that great repo. And please update your documentation in regards to the builder pattern with some more examples ;)

[2021-02-17 02:28] ch4mpy commented on #17
Did you have a look at `@WithMockAuthentication` javadoc?

If the actual `Authentication` impl type is of no importance (because you're only doing role-based security for instance), something like `@WithMockAuthentication(name = "Ch4mpy", authorities = { "ROLE_TESTER", "ROLE_AUTHOR" })` should be just enough.

For `UsernamePasswordAuthenticationToken`, isn't Spring's `@WithMockUser` more convenien

[2021-02-17 02:28] #17 closed

[2021-02-17 09:40] arnonuem commented on #17
Hi, thanks for your insights. Actually this is not my project and i have to take what is there. So i am a bit stuck on that. But now all works nice an smooth. I gave you also a credit on stackoverflow :)

17. Feb. 2021, 03:29 von notifications@github.com:

[2021-02-19 20:09] tha022 opened #18 "Multitenancy with spring boot and keycloak"
Hi guys

I implemented multi-tenancy support for Spring Boot and Keycloak following this [guide](https://www.czetsuyatech.com/2020/11/how-to-implement-multitenancy-with-spring-boot-and-keycloak.html), but after that my tests doesn't run correctly anymore, I get HTTP 403.

[code]
I tried to debug through the code described in the blog and this spring-addons lib, but didn't manage to find a clue.

A

[2021-03-02 18:47] ch4mpy commented on #18
Hi Thomas,

For some reason I wasn't notified for this issue creation and missed it. Sorry. Hope you found a wait to solve your issue :/

If not, would you share the security constraints you configured for the endpoint you get a 403 from ?
Any reference to an `Authentication` impl in method signature ?
Did you check at runtime you actually get a `KeycloakAuthenticationToken` from `SecurityContext`

[2021-04-07 20:35] ch4mpy commented on #18
Fell like I'll never have enough feedback to investigate.
Plz re-open if I'm wrong.

[2021-04-07 20:35] #18 closed

[2021-04-12 12:23] wimdeblauwe opened #19 "How to use KeycloakAUthRequestPostProcessor in 2.4.1?"
I am currently using version 2.0, but I would like to upgrade to the latest 2.4.1 version.

I currently have this code:

[code]

How do I do this with 2.4.1? The `roles` and `name` methods no longer exist it seems.

[2021-04-12 13:01] wimdeblauwe commented on #19
Changing it to this makes it compile again:
[code]

But now my `@AuthenticationPrincipal` is `null` in my controller methods. The reason seems to be that instead of a `KeycloakAuthenticationToken`, a `KeycloakPrincipal` should be used as the type now. Any idea why this is? And is there a way to use the `KeycloakAuthenticationToken`?

I use the `KeycloakAuthenticationToken` because I do `token.getA

[2021-04-12 14:21] wimdeblauwe commented on #19
The issue with the `null` principal is due to https://github.com/spring-projects/spring-framework/issues/26380 If you can confirm that my changes for `KeycloakAuthRequestPostProcessor` are what they should be then this issue can be closed.

[2021-04-12 21:09] ch4mpy commented on #19
Hi @wimdeblauwe , as you found out, version [2.3.0](https://github.com/ch4mpy/spring-addons/#230) introduced breaking changes in claims declaration.
Sorry for migration effort :/

The motivation was to get closer to OpenID specs.
The motivation for this motivation is to reuse some code from my OpenID `Authorization` implementation and as so maintain less code.

As you noted, prior to 2.3.0, using

[2021-04-13 06:31] wimdeblauwe commented on #19
Ok, thank you for the quick reply. So my changed code is correct?

[2021-04-14 04:43] ch4mpy commented on #19
It seems good. Doesn't it work as expected ?

[2021-04-14 06:28] wimdeblauwe commented on #19
Yep, seems to work fine. All my unit tests are ok. You can close the issue.

Op wo 14 apr. 2021 om 06:44 schreef Jérôme Wacongne <
***@***.***>:

[2021-04-14 18:11] ch4mpy commented on #19
Ok, nice.

[2021-04-14 18:11] #19 closed

[2021-07-01 22:02] M-Razavi opened #21 "Add some sample for Feign client"
I've added some Feign clients in my app to possibly other applications using this service with calling the provided clients.
How it's possible to use mockKeycloak for the integration tests of these clients?

[2021-07-07 17:28] teuber789 opened #22 "(Not a bug) Really excellent work!"
I happened upon this repo while looking for a way to mock Keycloak tokens in Spring MVC controller tests. Your `WithMockKeycloakAuth` annotation worked like a charm and saved me a ton of hassle. Just wanted to post a little note saying thanks again and keep up the good work!

(This isn't exactly a bug...but I wasn't sure where else to put it :/ )

[2021-07-14 19:28] teuber789 opened #23 "Problems with keycloak roles and authorities"
Hey @ch4mpy ,

First of all, many thanks for this project! It really has made testing soooo much easier!

I've run into a small problem with authorities and roles created by the `@WithMockKeycloakAuth` annotation.

**Regular roles work for the service**

I've created a small test service that has a simple controller:

[code]

The service starts up and works as expected. Any keycloak token that has

[2021-07-14 19:28] teuber789 commented on #23
Also - could this be related to #3 ?

[2021-07-15 03:04] ch4mpy commented on #23
Is it possible that you have different `GrantedAuthoritiesMapper` during tests and at runtime ? Can you double check and provide me with implementations used in both cases ?

As can be seen [here](https://github.com/ch4mpy/spring-addons/blob/4781d22c609c369f0ba601b13751c2a53605785e/spring-security-oauth2-test-addons/src/main/java/com/c4_soft/springaddons/security/oauth2/test/keycloak/KeycloakAuthe

[2021-07-15 03:38] ch4mpy commented on #23
I got it:
You override `GrantedAuthoritiesMapper` with `SimpleAuthoritiesMapper` in `KeycloakWebSecurityConfigurerAdapter` but don't expose the bean. As a consequence my lib uses default one which is `NullAuthoritiesMapper`.

In `KeycloakWebSecurityConfigurerAdapter`, just replace
[code]
with
[code]
and your second test will pass.

P.S.
please close the ticket if this answers your question.

[2021-07-15 03:51] ch4mpy commented on #21
I'm not sure I understood your use case, sorry.

This lib is to be used in unit-test only and populates test security context with a mocked `KeycloakAuthenticationToken`, just as if a request arrived with a valid token issued by a real Keycloak server.

This `KeycloakAuthenticationToken` is a pure Spring construct which is usable inside your own Spring code only. This lib won't create a JWT at all

[2021-07-15 03:53] teuber789 commented on #23
Hey, that worked perfectly! I wasn't aware that I could needed to expose the authorities mapper bean in order to keep the role mapping between the service and the tests consistent. It's good to know now.

Many thanks!

[2021-07-15 03:53] #23 closed

[2021-07-15 06:44] ch4mpy opened #24 "Test auto assign"

[2021-07-15 06:56] #24 closed

[2021-07-15 06:57] ch4mpy opened #25 "Test auto_assign-issues"
auto_assign-issues working ?

[2021-07-15 06:59] #25 closed

[2021-07-15 07:00] ch4mpy commented on #22
@teuber789 much appreciated. Thanks.

[2021-07-15 12:45] M-Razavi commented on #21
I mean that I've defined some controllers and also Feign clients for them in my application and need to add some tests for the defined Feign clients.

[2021-07-15 17:46] ch4mpy commented on #21
Do you have spring security involved with this feign clients ?
If yes, how ?
Can you provide me with `@Controller` source code or at least snippets demonstrating how spring-security is configured for feign clients ?

[2021-07-15 20:34] M-Razavi commented on #21
I've added spring security for the controllers, for clients I added the token.

ControllerConfig
`
http.authorizeRequests()
 .antMatchers(POST, "/abc/**").access(withPortalRoleAnd("role_create"))
 .antMatchers(PUT, "/abc/**").access(withPortalRoleAnd("role_edit"))
...`

ClientConfig:
`    public RequestInterceptor bearerTokenRequestInterceptor() {
        System.out.println("interceptor1");

[2021-07-15 21:28] ch4mpy commented on #21
When **unit** testing the `@Controller`, feign clients should be mocked and `@WithMockKeycloakAuth("role_edit")` should be enough.

What I understand from your `ClientConfig` is you add end-user OAuth2 identity (JWT token issued by Keycloak) to some outgoing HTTP requests. Sending HTTP requests to another system is **not unit test**. This is integration testing and you should provide valid tokens

[2021-07-18 21:08] ch4mpy commented on #21
@M-Razavi if you don't provide me with the feign clients source code I asked, I won't be able to help you and will close this ticket.

As I still did not understand what the issue is, I won't fix it.

[2021-07-19 22:26] #21 closed

[2021-09-07 21:13] cvetan opened #26 "Client roles mock"
I can't figure out how to mock client roles with your library.

Client roles mapper is configured `resource_access.${client_id}.roles`

Client roles are working properly within application, I just can't make it work in mocked test and I get 403 response.

I will attach sample token, config and custom annotation I use for test down.

Token:

[code]

Spring security config:
[code]

Annotation:
[code

[2021-09-08 01:56] ch4mpy commented on #26
Short answer: `@WithMockKeycloakAuth({"ADMINISTRATOR", "DRIVER"})` (or `@WithMockKeycloakAuth(authorities = {"ADMINISTRATOR", "DRIVER"}, ...) if you need to set claims`.

Long answer: authorities (in Spring-security world a role is an authority prefixed with `ROLE_`) are populated from a JWT by an authorities converter. Keycloak get authorities from different claims to retrieve realm roles and cli

[2021-09-08 01:56] #26 closed

[2021-09-08 06:43] cvetan commented on #26
@ch4mpy I still get 403 even with your example.

The test:
[code]
However since we are using client roles, we have this in configuration:

[code]

[2021-09-08 11:11] ch4mpy commented on #26
Had missed

Have you tried `@WithMockKeycloakAuth({"ROLE_ADMINISTRATOR", "ROLE_DRIVER"})` ?

[2021-09-10 13:52] cvetan commented on #26
Thanks, that works. I haven't though about it, because token has roles without prefix. I can't believe solution was this simple. 😄

Anyways everything works, thank you very much, you helped a lot. 🍺

[2021-09-21 13:10] wimdeblauwe opened #27 "Create JwtAuthenticationToken with custom claims"
I am currently using a custom annotation in my tests that builds op `@WithMockOidcId()` like this:

[code]

However, I would need that a `JwtAuthenticationToken` is created (I am using Keycloak, but I don't want to depend on Keycloak specific classes in my Spring Boot application).

I know that I can create such a token via:

[code]

But I can't configure claims in the annotation. Would it be poss

[2021-09-21 17:21] ch4mpy commented on #27
Hello @wimdeblauwe ,

The `@WithMockOidcId` builds and `OidcIdToken` which is not tied to Keycloak. I already used it to test apps with Auth0 or Microsoft IdentityServer as authorisation server.

`JwtAuthenticationToken` interface is very poor: all you can get is a `Map<String, Object>` through `getTokenAttributes()`. In my opinion, it makes it hardly usable.

This `OidcIdToken` I mentioned is exp

[2021-09-22 06:56] wimdeblauwe commented on #27
I tried your first suggestion to create an `@WithMockJwtAuthenticationToken` and this seems to work fine:

[code]

I can use it like this:

[code]

If you think this would be useful for the library, you can copy that code, no problem.

I only kept `IdTokenClaims` and not `OidcStandardClaims` because I don't think that makes sense, but I don't know Jwt and Oidc deeply enough really to know if that

[2021-09-22 14:39] ch4mpy commented on #27
@wimdeblauwe actually even `IdTokenClaims` don't make sense on plain JWT: an ID token is a JWT but JWT is not an ID token.

I see 3 main levels of specification:
1. [JWT](https://datatracker.ietf.org/doc/html/rfc7519) (Json Web Token) which I assimilate to a serialised claim-set (that is a `Map<String, Object>`)
2. [OAuth](https://datatracker.ietf.org/doc/html/rfc6749) which builds on top of JWT,

[2021-09-27 09:00] v20gupta opened #28 "Service Layer Authentication with Keycloak Not working"
@ch4mpy
Keycloak: 14
SpringBoot: 2.5.2

SecurityConfig;

[code]

ServiceTest:

[code]

[2021-09-27 17:57] ch4mpy commented on #28
Hi @v20gupta , may I ask you your procedure to create this issue? I thought I had set-up issues auto assignement, but apparently there is a path I missed.

Keycloak security does work on service layer. [Unit tests](https://github.com/ch4mpy/spring-addons/blob/master/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc/keycloak/service/KeycloakMessageServi

[2021-09-27 18:30] v20gupta commented on #28
Hi @ch4mpy , I was trying to unit test the keycloak security at the Service layer but my test case are passing even if I have not provide them the role.
@Service
public class AirportService {

	@Autowired
	private AirportDao airportDao;

	private final AirportMapper airportMapper = Mappers.getMapper( AirportMapper.class );

	@PreAuthorize(hasRole('std_airport_create'))
	public AirportRespDto creat

[2021-09-27 18:35] ch4mpy commented on #28
- you haven't answered my 1st question (how have you proceded to create this issue?)
- this is not a complete sample
- markup is not used properly which makes your comments hardly readable
- you have removed `@EnableGlobalMethodSecurity(prePostEnabled = true)` from your test conf

[2021-09-28 08:03] v20gupta commented on #28
Thanks ch4mpy issue is resolved with adding @EnableGlobalMethodSecurity(prePostEnabled = true)

[2021-09-28 08:03] #28 closed

[2021-10-09 03:59] ch4mpy commented on #27
@wimdeblauwe , I spent some time evaluating the opportunity to make your use-case easier (creating additional annotations for `Authentication` implementations I don't support).

This ended to quite important code shuffle, but I think it was worth it: I believe this lib is now eaiser to use (and maintain).

And as a bonus, I've implemented [`@WithMockJwtAuth`](https://github.com/ch4mpy/spring-addon

[2021-10-09 16:33] ch4mpy commented on #27
1. `headers` is destinated to populate `Jwt` headers (constructor 4th argument). Your question reveal a problem in usabilty: it being typed `PrivateClaims` is pretty confusing. I renamed `PrivateClaims` to simply `Claims` which more concise and probably more expressive too.

2. My bad for exception you encountered. I hadn't tested with empty headers and there is an assert on non empty headers in `

[2021-10-11 13:09] eaudet opened #29 "Using annotations in a cucumber test environment with MockMvcSupport does not create a Principal in Spring Boot"
**Describe the bug**
We have Keycloak configured in our Spring Boot micro-service. We use Cucumber to test our backend rest service endpoints. We use JWT tokens to secure endpoints. I use a very simple @WithMockKeycloakAuth({ "ROLE_user" }) annotation. When stepping in the controller, the Principal was not created (null). Hence, the annotation on a service method @RolesAllowed("user") fails.

**Co

[2021-10-11 16:47] ch4mpy commented on #27
I think we can close this now.

Please comment if you thiinkk something is missing, I'll re-open or create a new ticket.

[2021-10-11 16:47] #27 closed

[2021-10-13 19:56] eaudet commented on #29
Both `@EnableWebSecurity` and `@EnableGlobalMethodSecurity ` are included as I wrote in my original issue. I will try to find a moment to build a project.

[2021-10-14 13:53] eaudet commented on #29
Hi, I have jump to cucumber 7.0.0 (as mentionned) but still have the same error. The annotation @WithMockKeycloakAuth({"ROLE_user"}) is not injected in spring context. Here's the stack trace:

[code]

[2021-10-14 16:32] eaudet commented on #29
@mpkorstanje in order to make this `@WithMockKeycloakAuth `useful, it needs to be on the test method and not global on the class annotated `@CucumberContextConfiguration`. Otherwise you cannot test finegrained role base access to spring services.

I found something interesting by adding a `RequestPostProcessor` including a principal and a role in the mockMvc. This actually injects a principal in s

[2021-10-14 17:47] ch4mpy commented on #29
@eaudet I have a workaround for you untill we find a way to have annotations working: use MockMvc post processor.

I just pushed a demo of that on [gh-29 branch](https://github.com/ch4mpy/spring-addons/tree/gh-29/spring-security-oauth2-test-webmvc-addons/src/test/java/com/c4_soft/springaddons/samples/webmvc/keycloak/cucumber)

This Cucumber test suite passes on my computer

[2021-10-14 20:39] mpkorstanje commented on #29
It's not quite obvious but a cucumber scenario matches to a junit method. As if calling several step definition methods from a single test method. This means that if the JUnit method does something to setup authorization this must be reflected in the steps of the scenario. So the annotation is essentially an extra method call.

This means that your workaround is infact the correct solution.

[2021-10-14 21:37] ch4mpy commented on #29
That's what I'm working on.
It's pretty verbose and inconvenient.

[2021-10-14 21:56] mpkorstanje commented on #29
You can get it pretty lean I think.

[code]

Of course you'd have to write the DSL for that but that's a one time thing.

[2021-10-15 03:44] eaudet commented on #29
@ch4mpy and @mpkorstanje thanks for the analysis. Even if annotations are not available, using roles in the Scenario directly is even better. Thanks!

[2021-10-15 03:44] #29 closed

[2021-11-18 00:07] giovannicandido opened #30 "TestRestTemplate support"
**Is your feature request related to a problem? Please describe.**
When writing integration tests with keycloak auth enabled, the only approach I find is to disable authentication entirely.
It would be nice if we could inject auth token to TestRestTemplate

**Describe the solution you'd like**
The same integration we have with MockMvc in TestRestTemplate

**Describe alternatives you've considered*

[2021-11-18 18:35] ch4mpy commented on #30
@giovannicandido , this lib is intended to be used in unit-tests only.

It is not producing actual JWT (I mean encoded, signed, valid, ... claim-set), but just "hacking" test security context with `Authentication` instances that contain just the data the test needs. The all process of JWT decoding, validition and mapping to authentication instance is skipped.

What you request would require to cre

[2021-11-18 18:35] #30 closed

[2021-11-29 19:14] fintans commented on #22
@ch4mpy can this lib be used for full integration testing rather than unit tests with mockMVC?

[2021-11-29 20:35] ch4mpy commented on #22
@fintans No, this libs won't be of any help for integration testing.

Test libs in this repo are **not** producing base64 encoded JSON Web Tokens which are decoded, validated and turned into `Authentication` by Spring framework.

Instead, it is building `Authentication` instances (`KeycloakAuthenticationToken`, JwtAuthenticationToken`, `OidcAuthentication`, etc.) out of annotations, `RequestPostPr

[2021-12-07 17:00] Mario-Eis opened #31 "Lombok as compile dependency might not be correct (freaks out IDE)"
This library is very promising!

But at the moment Lombok is added as a compile dependency. This freaks out my IntelliJ IDE, because it detects Lombok in the classpath without using an annotation processor (I am not using Lombok).
I also never used Lombok. But I think adding it as a compile dependency might no be the correct way to use it.

[2021-12-07 17:05] Mario-Eis commented on #31
I found some information here: https://projectlombok.org/setup/maven
Seems it should be added as a provided dependency. This would fix my issue.

[2021-12-07 17:13] ch4mpy commented on #31
@Mario-Eis good catch. I forgot to set lombok as `provided` when downgrading Java compatibility from 11 to 1.8, will fix.

Meanwile, ou might:
- install Lombok on IntelliJ, it's awsome (giving it a try is adopting it for sure)
- use 3.1.3-jdk11 or 3.1.3-jdk17 if your project allows it

[2021-12-07 17:36] ch4mpy commented on #31
Fixed in `3.1.4-jdk1.8`, `3.1.4-jdk11` and `3.1.4-jdk17`.

Thank you for report.

Do not easitate to comment or re-open if you are not satisfied with solution.

[2021-12-07 17:36] #31 closed

[2021-12-19 12:41] KasperVaessen opened #34 "Error when using @WithMockKeycloakAuth"
**Describe the bug**
When I use the @WithMockKeycloakAuth tag above my test, I get the following error:
[code]

It seems that the .setPermissions method expects a list instead of a collection.

**Code sample**
I use Keycloak 15

Test:
[code]

SecurityConfig:
[code]

[2021-12-19 19:41] ch4mpy commented on #34
This is quite strange:
[AccessTokenBuilderHelper.java:61](https://github.com/ch4mpy/spring-addons/blob/d842b8764114f5402d6b977e27d781858f8be339/spring-security-oauth2-test-addons/src/main/java/com/c4_soft/springaddons/security/oauth2/test/annotations/keycloak/AccessTokenBuilderHelper.java#L61) provides explicitely `Authorization::setPermissions` with a `List<Permission>` which is (implements) a `C

[2021-12-19 21:44] ch4mpy commented on #34
By the way, @KasperVaessen , did you carfully inspect your test classpath? Have you double checked the version of the keycloak-core that is loaded?

[2021-12-21 11:19] KasperVaessen commented on #34
Thanks for both your replies! It was indeed a problem with my keycloak version. I used a dependencyManager which set the keycloak version to 4.0.0.FINAL. I oversaw this.
Sorry for the trouble an thank you so much for your help!

[2021-12-21 11:19] #34 closed

[2021-12-21 14:21] SrMouraSilva opened #35 "`Jwt.id` (jti) isn't been populated with `OpenIdClaims.jti` value"
**Describe the bug**

`Jwt.id` (jti) isn't been populated with `OpenIdClaims.jti` value

**Code sample**

[code]

If I check the id of Jwt, it appears null:
[code]

Tested in
 * Spring Boot 2.6.1
 * com.c4-soft.springaddons:spring-security-oauth2-test-webmvc-addons:3.1.7-jdk17
 * org.springframework.boot:spring-boot-starter-oauth2-resource-server (the version is based on Spring Boot version)

**Ex

[2021-12-21 14:28] SrMouraSilva commented on #35
Note: If I use a (redudant) definition in `otherClaims`, then will works
[code]

[2021-12-21 16:43] ch4mpy commented on #35
This looks like a bug. Will have a look ASAP.

[2021-12-21 17:13] ch4mpy commented on #35
@SrMouraSilva thank you for taking time to report.

I just fogot JTI when extracting annotation value. Sorry about that

This bug affects all `@WithMock...`, but the fix works for all of it too.
You can have a look at the commit linked above, it demoes your use-case in a new test.

Release onging. Please comment or re-open if the solution is not what you expected.

[2021-12-21 17:32] ch4mpy commented on #35
@SrMouraSilva release `3.1.8` done.

It usually takes about two hours for the libs to be transfered to https://repo1.maven.org/maven2/com/c4-soft/springaddons/spring-security-oauth2-test-addons/

[2021-12-21 18:33] #35 closed

[2021-12-22 12:36] SrMouraSilva commented on #35
@ch4mpy. Tested. Thanks!

[2022-01-12 13:00] schmitzhermes opened #36 "KeycloakAuthenticationToken is not added as principal in MockHttpServletRequest"
**Describe the bug**
First of all - thanks for your amazing work!

This is a bit of a tricky issue, so I try to be concise:
* When using the library the `authentication` in the `SecurityContext` is set just fine
* However, injecting an `Authentication`/`Principal` object into the resource method in the controller does not work, as this object is always null
* This is because the parameters are "au

[2022-01-12 14:08] schmitzhermes opened #37 "Use configured `GrantedAuthoritiesMapper` when parsing `@WithMockKeycloakAuth` realm and resource-access roles"
**Is your feature request related to a problem? Please describe.**
When configuring Keycloak roles (be it realm roles oder client roles) in the token, the `ROLE_` prefix is not set automatically, but Spring Boot prefixes the authorities (aka roles) with `ROLE_` internally.

**Describe the solution you'd like**
I would like the library to automatically add the `ROLE_` prefix to the authorities (or

[2022-01-12 14:17] schmitzhermes opened #38 "Resource Access (aka client roles) should be mapped to authorities"
**Is your feature request related to a problem? Please describe.**
Resource Access (aka client roles) are not mapped as authorities in the current implementation. One has to manually create the roles as authorities (as opposed to realm roles, where the roles are automatically mapped to `authorities`).

Code Examples:
[code]

The `KeycloakResourceAccess` is not mapped as an authority automatically

[2022-01-12 16:27] ch4mpy commented on #38
Hi @schmitzhermes and thank you for this detailed issue report.

You are right, it seems that resource access mapping is missing just where you spotted. Will fix asap.

As a side note, you shouldn't define authorities twice. Define it **either** in `authorities` **or** in private claims.
If your application code just check authorities with standard SpEL (`hasAuthority`, `hasRole`, etc.), first opt

[2022-01-12 16:44] ch4mpy commented on #37
No, it shouldn't. Prefixing authorities with `ROLE_` is an implementation choice inside authorities mappers and `authorities` in test annotations are designed to hold already mapped authorities (mappers can make any kind of transformation).

At some point, both `authorities` and `roles` where exposed in my test annotations, the second adding the `ROLE_` prefix. This was leading to more confusion t

[2022-01-12 17:47] ch4mpy commented on #38
There is a pitfall with htis feature: to my understanding, keycloak lib only adds to authorities the roles from a single resource access (the one configured with `` property. I don't have in mind a good way to retrieve such a config property during the tests right now and would rather map all roles from all resource-accesses.

But, again, this unit (not integration) testing and roles parsing doesn

[2022-01-12 17:48] schmitzhermes commented on #37
Hmm, I agree that this is an implementation choice inside the mappers, but this choice only needs to be made because Spring Boot made the choice to have `ROLE_` as the default prefix (if not configured otherwise), as can be seen here [ExpressionUrlAuthorizationConfigurer.java#L116](https://github.com/spring-projects/spring-security/blob/main/config/src/main/java/org/springframework/security/config

[2022-01-12 18:33] ch4mpy commented on #36
@schmitzhermes I am a little confused with htis one :/

This is something I'm using all the time (injected authentication in controllers methods) and it works like a charm...

Did you forget to add `@WithMockKeycloakAuth` when you got the NPE? or maybe did you try to cast to a wrong authentication impl? (but you'd have had soemthing else than NPE, I guess...)

I added explicit tests for what I und

[2022-01-12 18:38] schmitzhermes commented on #36
Hmm your tests in 61a5d look pretty much like what I am doing... the thing is: it's not the first time I hit this issue, just this time I invested some time to investigate further.
Maybe a good next step would be to set up a vanilla setup on my side and see whether it works there or not.

Maybe one thing to understand the issue a little better: If you debug the session and you set a breakpoint in

[2022-01-12 19:02] ch4mpy commented on #37
Maybe should I remove completely realm and resource access roles adding to authorities to avoid confusion.

You need certain authorities with prefix, suffix, case tweeking or wahtever in a test? Put it like it needs to be in `authorities` property. It's made for that.

Any spring-boot application explicitely providing a `GrantedAuthoritiesMapper` bean can do about anything with authorities and tes

[2022-01-12 19:04] ch4mpy commented on #37
Anyhow, I'll try to see if I can detect a `GrantedAuthoritiesMapper` `@Bean` in test configuration and use it when extracting Keycloak roles, but not today.

[2022-01-12 19:12] schmitzhermes commented on #37
Okay, I do get your point and I also agree (though not wholeheartedly 😄 )
Thanks for looking into it and thank you for the productive discussion and blazingly fast response - this is open source spirit!!

[2022-01-12 19:16] schmitzhermes commented on #37
Yes, I do. My security configuration relies on `hasRole` instead of `hasAuthority` and the `hasRole` convenience method adds the `ROLE_` prefix. But I understand that there are other "authorities" than roles.

[2022-01-12 19:27] ch4mpy commented on #36
Here is the `request.getClass()` output: `class org.springframework.security.web.servletapi.HttpServlet3RequestFactory$Servlet3SecurityContextHolderAwareRequestWrapper`

But spring-security-tests should ensure that any all MockMvc  requests are `@WebMvcTest` populated with `TestSecurityContext` content (whatever the actual request implementation it chooses...)

[2022-01-12 19:31] schmitzhermes commented on #36
No, they are decorated with `@SpringBootTest` and `@AutoConfigureMockMvc`... this seems to be the difference then, hm?

[2022-01-12 19:42] ch4mpy commented on #36
Maybe, your test configuration is missing security config?
Did you have to `@MockBean JwtDecoder jwtDecoder` for the tests to pass with Keycloak down?
If you set a breakpoint in some security bean factory, do you hit it?

[2022-01-13 00:27] ch4mpy commented on #37
So looking a little further, configured `GrantedAuthoritiesMapper` [is already injected](https://github.com/ch4mpy/spring-addons/blob/6610739b6ad258d5996bc040148a8bc995ba1eee/spring-security-oauth2-test-addons/src/main/java/com/c4_soft/springaddons/security/oauth2/test/annotations/keycloak/WithMockKeycloakAuth.java#L98) and if something else than NullAuthorityMapper is configured, it should [proce

[2022-01-13 10:10] schmitzhermes commented on #38
It works just fine - thank you.
One remark: the `3.1.14-jdk1.8` does not seem to be on maven central yet. Is this just a timing thing or do u need to deploy that manuall?

[2022-01-13 10:10] #38 closed

[2022-01-13 10:32] schmitzhermes commented on #37
Okay, I got it now:
* As I am using the `hasRole(...)` function Spring Boot appends `ROLE_` in the SpEL while assessing the roles
* Therefore I needed to configure the `SimpleAuthorityMapper` in my Keycloak configuration
* Your library expects a `GrantedAuthoritiesMapper` to be injected, however imho it's normally not injected, but rather instantiated in place like so:
[code]
* This leads to your

[2022-01-13 10:32] #37 closed

[2022-01-13 16:44] ch4mpy commented on #38
I can see it on https://repo1.maven.org/maven2/com/c4-soft/springaddons/spring-security-oauth2-addons/

I deploy to [sonatype](https://oss.sonatype.org/service/local/staging/deploy/maven2/) which handles deployment to repo1.maven.org (this rarely takes more than 2 hours)

[2022-01-13 20:17] ch4mpy commented on #36
The test pass if I replace `@WebMvcTest` with `@SpringBootTest`:
[code]
Which `webEnvironment` are you using?
Do you import Keycloak conf?

[2022-01-18 19:25] ch4mpy commented on #36
@schmitzhermes I can't reproduce and need more feedback.

For now, I believe in test misconfiguration, reason for closing. Please re-open if I'm wrong.

[2022-01-18 19:25] #36 closed

[2022-01-19 16:27] schmitzhermes commented on #36
Fine. For now I accepted the solution to specify the principal manually, I will let you know when I had time to investigate the issue further.
Thanks for ur support

[2022-02-07 08:53] mrohlof-protofy opened #39 "JDK-Suffix breaks semver contract"
**Describe the bug**
Not necessarily a bug in the library itself, but an inconvenience in the interaction with other tools:

I use this library as jdk-11 Dependency. Update mechanisms like dependabot think the jdk-17 variant is newer than jdk-11 and try to bump versions to it. Please think about re-structuring your naming scheme such that the jdk ist part of group or artifact id instead of version

[2022-02-16 19:18] ch4mpy commented on #39
I won't put the jdk version in the artifact name.

I'll give an other try to releasing with classifier.

anyhow, multi JDK build (which is a pain for me to do) will disapear when moving to spring-boot 3: builds will be done with JDK 17 only.

[2022-02-17 03:58] ch4mpy commented on #39
Fixed with 3.2.0

`-jdk1.8` and `-jdk11` artifacts might drift in functionality JDK 17 flavor (one branch per JDK version => need to manually patch branches when updating master)

[2022-02-17 03:58] #39 closed

[2022-03-01 02:40] ch4mpy opened #41 "Move Keycloak related stuff in dedicated jar"
Currently, KeycloakAuthenticationToken related stuff (among which @WithMockKeycloakAuth annotation and MockMvc request post-processor) are standing with other Authentication implementations stuff. This makeseverything depend on Keycloak libs (even if it's marked as optional)

It would be better to isolate Keycloak stuf in dedicated jar and remove any reference to Keycloak from the rest.

[2022-03-02 02:28] #41 closed

[2022-03-04 18:49] ch4mpy opened #42 "Have one CORS config per CORS path"
Same CORS config is applied to all CORS path, wich is limited and doesn't match to Spring model.

Would be better to have an array of CORS configuration properties, one per CORS path.

[2022-03-04 18:52] ch4mpy opened #43 "More configuration properties"
Expose configuration properties for:
- enabling anonymous (true by default)
- disabling CSRF (true by default)
- enabling stateless sessions (true by default)
- returning 401 instead of 302 when anonymous trying to access restricted content

[2022-03-04 18:55] ch4mpy opened #44 "Expose a generic converter to map Collection<GrantedAuthority> from configured JWT claims"
Rather than provider specialized converters, it would be nice to have a generic one taking a list of claim names to look for authorities from.

[2022-03-04 19:17] #44 closed

[2022-03-04 19:17] #43 closed

[2022-03-04 19:18] #42 closed

[2022-03-05 00:37] ch4mpy opened #45 "Crash when conf references inexistant roles claim"
Absent JWT role claims should be silently ignored

[2022-03-05 00:44] #45 closed

[2022-05-13 13:28] tacerus commented on #41
Hi, is this the reason I am unable to use the `@WithMockKeycloakAuth` with `<artifactId>spring-security-oauth2-test-addons</artifactId>`? Is there a new Keycloak related testing library available on Maven?

[2022-05-13 16:40] ch4mpy commented on #41
Hi @tacerus

Funny you read closed issues before the [README](https://github.com/ch4mpy/spring-addons). I suggest you start from there, you'll find the right dependency to pull.

[2022-05-13 16:44] tacerus commented on #41
I can't help but agree that in this case I missed the obvious. Thank you very much!

[2022-05-13 16:48] ch4mpy commented on #41
You're welcome. It might highlight that README is now to long :/

[2022-05-13 16:50] tacerus commented on #41
:-) Ah well, that's mostly the change log. Maybe it could move to a separate `.md` or to GitHub's "releases" section some time, but I personally don't mind it!

[2022-05-27 20:19] ch4mpy opened #46 "Split spring-security-oauth2-addons in 3"
`spring-security-oauth2-addons` contains code (and dependencies) for both servlet & reactive apps (webmvc and webflux). It should be split in 3:

- `spring-security-oauth2-addons` with common code being neither servlet nor reactive APIs dependent
- `spring-security-oauth2-webmvc-addons`
- `spring-security-oauth2-webflux-addons`

[2022-05-27 20:27] ch4mpy opened #47 "Provide `SecurityFilterChain` bean instead of extending `WebSecurityConfigurerAdapter`"
As of spring-boot 2.7, pring-boot `WebSecurityConfigurerAdapter` deprecated

[2022-05-27 20:38] ch4mpy opened #48 "Make use of @AutoConfiguration"
Implement spring-boot auto-configuration so that explicitly `@Import(ServletSecurityBeans)` or `@Import(ReactiveSecurityBeans)` is not required anymore.

`spring-security-oauth2-webmvc-addons` or `spring-security-oauth2-webflux-addons` being on the classpath should be enough.

The new way to declare auto-configuration, as anouced with spring 2.7, should be used

[2022-05-27 20:42] #46 closed

[2022-05-27 20:42] #47 closed

[2022-05-27 20:42] #48 closed

[2022-05-31 05:03] ch4mpy opened #49 "Move samples to dedicated modules"
Samples are currently mixed in test sources. This has the benefit of keeping jars small, but comes with quite a few drawbacks:
- it's hard to figure out what dependencies are pulled for samples or lib code
- users frequently just don't find samples
- non trivial spring-test conf is required just because several spring-boot apps share the same module

Let's create a samples module with a sub-module

[2022-06-01 17:31] ch4mpy opened #50 "Authorities configuration should be per authorization server"
Thanks to `authorization-server-locations` property, it is now possible to configure several identities sources for a single resource server.

Unfortunately, those servers could have different configurations and provide authorities in different claims, case or prefix, but authorities mapping configuration is unique.

Authorities mapping configuration should be turned into an array with one entry p

[2022-06-01 17:41] ch4mpy opened #51 "Reduce higher level modules count"
Some modules could be grouped to reduce the count of sub-modules under the root one:
- archetypes (4 of them)
- webmvc (app configuration and unit tests)
- webflux (app configuration and unit tests)

[2022-06-02 01:46] #51 closed

[2022-06-02 03:28] #50 closed

[2022-06-18 01:32] ch4mpy opened #53 "`GenericMethodSecurityExpressionHandler` should accept expression root suppliers for many authentication type"
If a `GenericMethodSecurityExpressionHandler` configured for a given authentication type, let's say `OAuthentication<OpenidClaimSet>`, then an exception is thrown when an other type of `Authentication` is in the security context (for instance an `AnonymousAuthenticationToken`, or whatever else one of the authentication managers can decide)

[2022-06-18 07:01] #53 closed

[2022-06-24 09:57] Mario-Eis opened #54 "Found WebSecurityConfigurerAdapter as well as SecurityFilterChain. Please select just one."
Keycloak makes use of the WebSecurityConfigurerAdapter. Since the helper now provides a SecurityFilterChain, all my tests are failing with the message "Found WebSecurityConfigurerAdapter as well as SecurityFilterChain. Please select just one.". How can this library be used together with the Keycloak Webmvc Adapter after https://github.com/ch4mpy/spring-addons/issues/47?

Last working version was 4

[2022-06-26 08:10] ch4mpy commented on #54
Hi @Mario-Eis

Which sample did you follow to setup your test? Did you have a quick look at readme at all?

Would you share your unit-test code?

Maybe did you @AutoConfigureSecurityAddons (which sets-up spring-boot 2.7+ seb-security) when [the sample for KeycloakAuthenticationToken](https://github.com/ch4mpy/spring-addons/blob/master/samples/webmvc-keycloakauthenticationtoken) clearly [doesn't](h

[2022-06-27 13:32] Mario-Eis commented on #54
I used the configuration from the official Keycloak documentation in my web service: https://www.keycloak.org/docs/latest/securing_apps/#_spring_security_adapter
And behind the KeycloakWebSecurityConfigurerAdapter there is a WebSecurityConfigurerAdapter.

For my tests I use the spring-addons-keycloak to mock the authentication. So when I run the tests, spring-addons-keycloak are in the classpath.

[2022-06-27 15:39] ch4mpy commented on #54
@Mario-Eis I know Keycloak spring adapter is still depending on WebSecurityConfigurerAdapter (reason for me writing you should use something else to be spring-boot 3 ready). This does not prevent `spring-addons-keycloak` from working. If you don't believe me, follow [first paragraph](https://github.com/ch4mpy/spring-addons#usage) of main readme:
[code]
You'll see a module named `webmvc-keycloakaut

[2022-06-27 16:08] ch4mpy commented on #54
Good catch, this transient dependency on `spring-security-oauth2-webmvc-addons` is useless and should be removed. You can ignore it untill next release (but I don't believe it will solve your problem by itself).

[2022-06-28 09:13] Mario-Eis commented on #54
Well, actually it (4.4.8) did solve my problem 😀

[2022-06-28 09:31] ch4mpy commented on #54
Good to read.

You should really consider dropping Keycloak libs. Give a try to [this instead](https://github.com/ch4mpy/spring-addons/tree/master/samples/tutorials/resource-server_with_oauthentication)

[2022-06-28 09:31] #54 closed

[2022-06-28 09:32] Mario-Eis commented on #54
I will consider it! Thanks!

[2022-06-28 10:08] ch4mpy commented on #54
Then, you might have JwtAuthenticationToken instances in runtime security-context. If so, `@WithMockJwtAuth` from `spring-security-oauth2-test-webmvc-addons` might be a better fit than `@WithMockKeycloakAuth`.

Plus, you can already bump to spring-boot 2.7 (need to give an eye to spring-boot doc to stop extending `WebSecurityConfigurerAdapter`)

In any case, you should really have a look at [that

[2022-08-08 12:29] zamek42 opened #55 "resource-server_with_jwtauthenticationtoken doesn't work"
**Describe the bug**
I tried to run your resource-server_with_jwtauthenticationtoken demo, with mvn spring-boot:run, but when I try to get /greet I've got an exception:

[nio-8080-exec-9] o.s.security.web.FilterChainProxy        : Securing GET /greet
[nio-8080-exec-9] o.s.security.web.FilterChainProxy        : Invoking DisableEncodeUrlFilter (1/15)
[nio-8080-exec-9] o.s.security.web.FilterChainPro

[2022-08-08 16:09] ch4mpy commented on #55
Your web browser is not a REST client.  Use something like Postman to retrieve an access-token from Keycloak and build requests with Authorization header.

If you open your browser console, you should see that what you got is a 401 (Unauthorized which means that authorization is missing or invalid) and not a 302 (redirect to login). This is intended.

Building an auth2 `client` running in web brow

[2022-08-08 18:17] ch4mpy commented on #55
Thank you for sharing your project. I think it behaves as expected. Please see the [Prerequisites](https://github.com/ch4mpy/spring-addons/tree/master/samples/tutorials#prerequisites) section I just added to clarify what is required and how resource-servers behave.

You have a stack-trace because you set spring log-level to `TRACE`. The error you see is because `Authorization` header is missing, r

[2022-08-08 18:17] #55 closed

[2022-08-16 04:29] ajay6uc opened #56 "Seems only support JDK version 17+"
**Seems only support JDK version 17+**
Tried with java 11 does not work, get following exception on startup.

Caused by: java.lang.UnsupportedClassVersionError: com/c4_soft/springaddons/security/oauth2/config/SpringAddonsSecurityProperties has been compiled by a more recent version of the Java Runtime (class file version 61.0), this version of the Java Runtime only recognizes class file versions u

[2022-08-16 05:52] ch4mpy commented on #56
yes, [as per the  README, Java 17 is required as minimum](https://github.com/ch4mpy/spring-addons/#java-version), as comming versions of spring framework.

[2022-08-16 05:52] #56 closed

[2022-08-17 20:12] ch4mpy commented on #56
@ajay6uc I just released a `5.1.2-jdk1.8` version which should work with your JDK 11 and older spring-boot.

Refer to `jdk1.8` branch if you need samples (there could be subtle differences).

[2022-09-04 10:56] vksaamy opened #57 "Can't compile the project"
The method toList() is undefined for the type Stream<SimpleGrantedAuthority> in return Stream.concat(realmRoles.stream(), Stream.concat(confidentialClientRoles.stream(), publicClientRoles.stream()))
					.map(SimpleGrantedAuthority::new).toList();

Using spring-boot 2.6.3 and spring spring resource server 5.6.1

[2022-09-05 21:04] ch4mpy commented on #57
You should read the Readme and check your Java version.

[2022-09-07 00:48] #57 closed

[2022-10-04 18:08] ch4mpy opened #59 "Add sample for reactive (webflux) resource-server with introspection and `BearerTokenAuthentication`"
Sample for webflux with token introspection and default Spring authentication (`BearerTokenAuthentication`) is missing.

To add such sample:
- create a new sub-module under `samples` one
- use `spring-addons-webflux-introspecting-resource-server` spring-boot starter
- copy security configuration, controller, service, repository and tests from webmvc-jwtauthenticationtoken sample (keep default `OAu

[2022-10-04 18:11] ch4mpy opened #60 "Add sample for reactive (webflux) resource-server with introspection and `OAuthentication<OpenidClaimSet>`"
Sample for webflux with token introspection and `OAuthentication` is missing.

To add such sample:
- create a new sub-module under `samples` one
- use `spring-addons-webflux-introspecting-resource-server` spring-boot starter
- copy security configuration, controller, service, repository and tests from `webflux-jwt-oauthentication` sample
- copy `opaquetoken` properties from `webflux-introspecting-

[2022-10-04 18:14] ch4mpy opened #61 "Add sample for servlet (webmvc) resource-server with introspection and `OAthentication<OpenidClaimSet>`"
Sample for servlet (webmvc) with token introspection and OAuthentication is missing.

To add such sample:
- create a new sub-module under samples one
- use spring-addons-webmvc-introspecting-resource-server spring-boot starter
- copy security configuration, controller, service, repository and tests from webmvc-oauthentication sample

[2022-10-04 18:20] ch4mpy opened #62 "Add sample for servlet (webmvc) resource-server with introspection and `JwtAuthenticationToken`"
Sample for servlet (webmvc) with token introspection and Spring default `Authentication` (BearerTokenAuthentication) is missing.

To add such sample:
- create a new sub-module under samples one
- use spring-addons-webmvc-introspecting-resource-server spring-boot starter
- copy security configuration, controller, service, repository and tests from webmvc-jwtauthenticationtoken sample (keep default

[2022-10-04 18:27] ch4mpy opened #63 "Add references to samples in tutorials"
Tutorials are intentionally limited to servlet applications (`webmvc` and not `webflux`), and are mostly focused on JWT decoding (not introspection).

It would be nice to add links to all samples the end of tutorial READMEs (with short description for each).

Depends on gh-59, gh-60, gh-61 and gh-62 (samples must be added before being referenced)

[2022-10-04 20:36] ch4mpy opened #64 "Include jwt or introspection in sample names"
Samples are currently named after the application being servlet or reactive (webmvc / weblux) and `Authentication` implementation.

It would be nice to include token validation method (JWT decoder / introspection) in names too.

[2022-10-04 22:19] #64 closed

[2022-10-05 17:26] ch4mpy opened #66 "Remove `@EnableWebFluxSecurity` from `spring-addons-webflux-introspecting-resource-server` non web configuration"
In `spring-addons-webflux-introspecting-resource-server`, `AddonsSecurityBeans` is decorated with `@EnableWebFluxSecurity`. It should not: this triggers web-security configuration when only `AddonsSecurityBeans` (not `AddonsWebSecurityBeans`) is imported in @Service or @Repository unit-tests

[2022-10-05 17:30] #66 closed

[2022-10-05 17:44] ch4mpy opened #68 "`AddonsWebfluxTestConf` should mock `ReactiveJwtDecoder` and `ReactiveOpaqueTokenIntrospector`"
`AddonsWebfluxTestConf` does not mock `ReactiveJwtDecoder` and `ReactiveOpaqueTokenIntrospector`. This causes missing bean exceptions unless resource-server @WebFluxTest explicitely mock one of those.

[2022-10-05 17:48] #68 closed

[2022-10-05 18:09] #59 closed

[2022-10-07 01:24] #60 closed

[2022-10-07 02:06] #61 closed

[2022-10-07 02:14] #62 closed

[2022-10-09 10:39] #63 closed

[2022-10-22 08:20] razeelmohammed commented on #22
The Spring Boot 3 Keyclock examples are a real life saver. Good work team.

[2022-10-22 14:44] ch4mpy commented on #22
@razeelmohammed good to read.

If you like the libs, please consider giving a star. Same for the people you work with.

Seams stupid, but reaching 150 stars could open the door to publishing on Baeldung and greatly widen users community.

[2022-10-31 02:24] navidmo opened #78 "OIDC Identity Providers"
Hi Jérôme @ch4mpy, thank you for your great work on customized resource servers and addon annotations. Do you have any pointers or starters for OIDC Identity Providers (I am following up on keycloak adapter depreciation)? I want to make custom authentication that utilizes some redis pub/sub messaging. Thank you for your help.

[2022-10-31 03:11] ch4mpy commented on #78
This is a question about existing feature, not a request for a new one.

Replaced by https://github.com/ch4mpy/spring-addons/discussions/80

[2022-10-31 03:11] #78 closed